@import "tailwindcss";

@layer components {
  .app-container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: var(--font-roboto);
  --font-montserrat: var(--font-montserrat);
  --font-slab: var(--font-roboto-slab);
  --font-round: var(--font-varela-round);
  --font-sora: var(--font-sora);
  --font-popins: var(--font-popins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


